aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
babel
backoff
bcrypt
beautifulsoup4
bleach
build
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
comm
contourpy
cryptography
cycler
dataclasses-json
debugpy
decorator
deepdiff
defusedxml
Deprecated
distro
Django
django-cors-headers
durationpy
emoji
executing
fastapi
fastjsonschema
filelock
filetype
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
html5lib
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
ipykernel
ipython
isoduration
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter-server-mathjax
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_git
jupyterlab_pygments
jupyterlab_server
kiwisolver
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-text-splitters
langchain-unstructured
langdetect
langsmith
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mmh3
monotonic
mpmath
multidict
mypy-extensions
nbclient
nbconvert
nbdime
nbformat
nest-asyncio
networkx
nltk
notebook_shim
numpy
oauthlib
olefile
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orderly-set
orjson
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
plotly
posthog
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pyparsing
pypdf
PyPika
pyproject_hooks
pysqlite3-binary
python-dateutil
python-docx
python-dotenv
python-iso639
python-json-logger
python-magic
python-oxmsg
pytz
PyYAML
pyzmq
RapidFuzz
redis
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scikit-learn
scipy
seaborn
Send2Trash
setuptools
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
sympy
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
torch
tornado
tqdm
traitlets
typer
types-python-dateutil
typing-inspect
typing_extensions
tzdata
unstructured
unstructured-client
uri-template
uritemplate
urllib3
uvicorn
uvloop
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
wrapt
yarl
zipp
